$primary-color: #3056D3;
$light-color: #637381;
$dark-color: #212B36;
$white-color: #fff;
$background-dark-color: #090E34;
$font-stack: Helvetica, arial, sans-serif;

//shared size for nav button
%nav-btn {
    height: 100%;
}


