@import 'utilities';
@import 'mobile';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-stack;
}


header{
    background-color: $dark-color;
    color: $white-color;
    
    nav {
        max-height: 100px;
        
        .logo {
            img {
                max-width: 150px;
            }
        }
        li:hover {
            border-top: 2px solid $white-color;
        }
        ul {
            list-style-type: none;
            li {
                a {
                    color: $white-color;
                    align-content: center
                }
            }
        }
    }
    .nav-button {
        @extend %nav-btn;
    }
    .search-input {
        input {
            font-size: 15px;
            background-color: $dark-color;
            border: 1px solid $white-color;
            cursor: pointer;
            color: $white-color;
        }
        input::placeholder {
            color: $white-color;
        }
        svg {
            position: absolute;
            top: 36px;
            right: 15px;
            color: $white-color;
            cursor: pointer;
        }
    }
    main {
        img {
            max-width: 100%;
        }
        .gray-p {
            color: #cccccc;
        }
        .exploreBtn {
            background-color: $dark-color;
            color: $white-color;
        }
    }
}
.gallery {
    
    .gallery-image {
        padding: 12px;
        img {
            max-width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
    .gallery-wrapper {
        width: 45%;
    }
    .gallery-text {
        width: 45%;
        padding-top: 20px;
    }
}
.our-app {
    .our-app-icons {
        .app-subheadline {
            color: $primary-color;
            font-weight: bold;
        }
        .app-headline {
            font-weight: bold;
        }
        .icon-img {
            img {
                max-width: 50px;
            }
        }
    }
    .phone-image-wrapper {
        img {
            max-width: 100%;
        }
    }
}
.info {
    background-color: $dark-color;
    color: $white-color;
    padding: 0 100px;
    
    .info-buttons {
        button {
            color: $white-color;
        }
        .first-btn {
            background-color: $light-color;
        }
        .second-btn {
            background-color: $primary-color;
        }
    }
}
.portfolio {
    .portfolio-info {
        max-width: 40%;
        margin: 0 auto;
    }
    .portfolio-btns {
        button {
            background-color: $white-color;
        }
        button:hover {
            background-color: $primary-color;
            color: $white-color;
        }
    }
    .card {
        background-image: url("https://static2.bigstockphoto.com/4/0/4/large1500/404009267.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        height: 200px;
        margin-bottom: 150px; 
    }
    .card-desc {
        position: absolute;
        border: 1px solid gray;
        top: 140px;
        left: 10%;
        right: 10%;
        text-align: center;
        background-color: $white-color;
        p {
            color: $primary-color;
        }
        button {
            background-color: $white-color;
            color: $light-color;
        }
        button:hover {
            background-color: $primary-color;
            color: $white-color;
        }
    }
}
